/*font-faces!!*/
/*@font-face {
    font-family: "Moon Bold";
    src: url("../font/Moon%20Bold.otf") format("opentype");
}*/

/*@font-face {
    font-family: "Borg";
    src: url("../font/Borg.ttf") format("truetype");
}*/

/*@font-face {
    font-family: "Berlin";
    src: url("../font/Berlin.ttf") format("truetype");
}*/

/*@font-face {
    font-family: "Berlin Bold";
    src: url("../font/Berlin%20Bold.ttf") format("truetype");
}*/

/*@font-face {
    font-family: "Berlin Italic";
    src: url("../font/Berlin%20-%20Italic.ttf") format("truetype");
}*/

/*@font-face {
    font-family: "Berlin X Bold";
    src: url("../font/Berlin%20X-Bold.ttf") format("truetype");
}*/

/*@font-face {
    font-family: "Bariol";
    src: url("../font/`Bariol`_Regular/Bariol_Regular.otf") format("truetype");
}*/

@font-face {
    font-family: "Moon Light";
    src: url("../font/Moon%20Light.otf") format("opentype");
}

@font-face {
    font-family: "Quicksand";
    src:url("../font/Quicksand/Quicksand-Regular.otf");
}

@font-face {
    font-family: "Quicksand Bold";
    src:url("../font/Quicksand/Quicksand-Bold.otf");
}

.row {
    margin-bottom: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

* {
    font-family: "Quicksand";
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

.what-we-are {
    //background-color: rgb(22,25,27);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);/*IE fix */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    width: 100%;
    margin-bottom: 0px;
}

.navbar-brand img {
    width: 20px;
    height: 20px;
}

.projects {
    background-color: rgba(0, 0, 0, 0.5);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff);/*IE fix */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff);
}

.row h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

.row h3 {
    font-size: 30px;
}

.projects h3, h4 {
    text-align: center;
    color: white;
}

.jumbotron {
    padding: 30px 15px;
    color: inherit;
    background: linear-gradient(#c9c9c9, rgb(255, 194, 171));
    background: -webkit-linear-gradient(#c9c9c9, rgb(255, 194, 171));
    background: -moz-linear-gradient(#c9c9c9, rgb(255, 194, 171));
    background: -o-linear-gradient(#c9c9c9, rgb(255, 194, 171));
    height: 100%;
}

.jumbotron h1 {
    font-family: "Moon Light", sans-serif;
    padding-left: 100px;
}

.jumbotron span.cubed {
    font-family: "Orbitron", sans-serif;
}

nav li {
    text-transform: uppercase;
}

nav .brand-logo {
    font-family: "Orbitron", sans-serif;
}

.what-we-are .btn {
    margin-bottom: 20px;
}

.facebook-blue {
    background-color: #3B5998 ;
}

.twitter-blue {
    background-color: #4099FF;
}

.contact a.waves-circle {
    margin-left: 30px;
    margin-bottom: 20px;
}

footer.page-footer {
    margin-top: 0px;
}
