/*font-faces!!*/
@font-face {
    font-family: "Moon Bold";
    src: url("../font/Moon%20Bold.otf") format("opentype");
}

@font-face {
    font-family: "Moon Light";
    src: url("../font/Moon%20Light.otf") format("opentype");
}

@font-face {
    font-family: "Borg";
    src: url("../font/Borg.ttf") format("truetype");
}

@font-face {
    font-family: "Berlin";
    src: url("../font/Berlin.ttf") format("truetype");
}

@font-face {
    font-family: "Berlin Bold";
    src: url("../font/Berlin%20Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Berlin Italic";
    src: url("../font/Berlin%20-%20Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Berlin X Bold";
    src: url("../font/Berlin%20X-Bold.ttf") format("truetype");
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

.navbar li {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.jumbotron h1 {
    font-family: "Moon Light", sans-serif;
    color: #000;
}

.jumbotron sp-color:rgba(255,255,255,.4);/* modern browser */

height: 10an {
    font-family: "Orbitron", sans-serif;
}
.jumbotron {
    background-color:rgba(255,255,255,.4);/* modern browser */

    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.what-we-are {
    background-color: rgba(0,0,0,0.4);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);/*IE fix */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    text-align: center;
    color: #fff;
}

.what-we-are h1 {
    font-family: "Borg", sans-serif;
    font-size: 70px;
}

.what-we-are h3 {
    font-family: "Berlin", sans-serif;
    font-size: 30px;
}
